.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	position: relative;
	display: flex;
	align-items: center;
}

.filters button {
	background-color: #FF5A5F;
	font-size: 18px;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	position: absolute;
	right: 30px;
}

.filters button:hover {
	opacity: 90%;
}

.locations, .amenities {
	height: 100%;
	width: 25%;
}

.locations {
	border-right: 1px solid #DDDDDD;
}

.locations h3, .amenities h3 {
	font-weight: 600;
	margin-bottom: 0;
	padding-left: 20%;
}

.locations h4, .amenities h4 {
	font-weight: 400;
	font-size: 14px;
	margin-top: 0;
	padding-left: 20%;
}

.popover {
	display: none;
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	width: 100%;
	list-style-type: none;
	padding-top: 5%;
	padding-bottom: 5%;
}

.popover ul {
	list-style-type: none;
	padding-left: 10%;
}

.popover h2 {
	font-size: 16px;
	margin-bottom: 2px;
	margin-top: 20px;
}

.amenities .popover ul {
	padding-left: 20%;
}

.amenities:hover .popover,
.locations:hover .popover {
	display: block;
}
