.places {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0 18px;
}

.places h1 {
	text-align: left;
	width: 100%;
	font-size: 30px;
	margin-bottom: 0;
}

.places h2 {
	font-size: 30px;
	text-align: center;
	margin: 0 auto;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	text-align: center;
	margin: 18px;
}
