.places {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0 18px;
}

.places h1 {
	text-align: left;
	width: 100%;
	font-size: 30px;
	margin-bottom: 0;
}

.places h2 {
	font-size: 30px;
	text-align: center;
	margin: 0 auto;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	text-align: center;
	margin: 18px;
	position: relative;
	height: 350px;
}

.places .price_by_night {
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	border-radius: 50%;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	position: absolute;
	top: 15px;
	right: 15px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.information {
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	margin-top: 35px;
	display: flex;
	justify-content: space-around;
}

.max_guest {
	background-image: url(../images/icon_group.png);
}

.number_rooms {
	background-image: url(../images/icon_bed.png);
}

.number_bathrooms {
	background-image: url(../images/icon_bath.png);
}

.max_guest, .number_rooms, .number_bathrooms {
	width: 100px;
	background-repeat: no-repeat;
	background-position: center top;
	display: flex;
	justify-content: space-around;
	margin-top: 5px;
}

.max_guest p, .number_rooms p, .number_bathrooms p {
	padding-top: 35px;
}

.user {
	text-align: left;
	margin-bottom: 2%;
}
